# Created by .ignore support plugin (hsz.mobi)
.idea/*
*.iws
.idea_modules/
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
/node_modules/
coverage
.nyc_output
*.tgz
.yarn-integrity
dist
report.html
webpack_cache